.main .pageTitleContainer {
    text-align: center;
    color: white;
    background:
        linear-gradient(
            210deg,
            var(--secondary1-2),
            var(--secondary1-1)
        ),
    no-repeat center center / cover;
}

.main .pageTitleContainer .title {
    padding: 50px 20px;
    text-transform: uppercase;
}


/* FAQ PAGE STYLES */
.faqPage .main a {
    color: var(--primary1-1);
    text-align: center;
}

.faqPage .main h1,
.faqPage .main h2,
.faqPage .main h3,
.faqPage .main h4,
.faqPage .main h5,
.faqPage .main p {
    text-align: center;
}

/* SUCCESS PAGE STYLES */
.successPage .main {
    align-items: center;
    text-align: center;
}

.successPage .main h1 {
    color: var(--primary1-1);
}

.successPage .main .successTextMsg {
    color: var(--primary1-2);
}

.successPage .main button {
    text-transform: uppercase;
    color: white;

    background:
    linear-gradient(
        130deg,
        var(--primary1-1),
        var(--primary1-2)
    )
    no-repeat center center / cover;
}


/* NOT FOUND PAGE STYLES */
.notFound .wrapperOutter {
    text-align: center;
    height: 100%;
}

.notFound .wrapperOutter .rowzz {
    text-align: center;
    height: 100%;
}

.notFound .wrapperOutter .error {
    color: red;
}

.notFound .wrapperOutter .rowzz .yCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.notFound .wrapperOutter .rowzz .yCenter {
    /* width: 100%; */
    margin: auto;
    /* color: white; */
    /* padding: 10px; */
    /* background-color: #fff; */
    /* border-radius: 20px; */
}